 <footer class="relative-bottom">
        <div class="end-of-page">
            <div class="bottom-left">
                <br> Rio Records <br>
                <br>Build your artist career on 
                <br> your own terms.
            </div>
       
            <div class="bottom-right">
                <a class="address" href="https://goo.gl/maps/ay3i651qfFhgJgt57" target="_blank" rel="noopener noreferrer">
                    <br>Gounari 100, 26224
                    <br>Patra, Greece
                </a>
                <a class="instagram" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                    <br><br>Our instagram!
                </a>
                <a class="facebook" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                   <br> <br>Our facebook!
                </a>
                <a class="contact {{contact}}" href="/contact">
                    <br><br>Contact us!
                </a>


            </div>
         </div>
      </footer>
    