
<body>
    <main>
            <div class="description container row">
                <div class="intro">
                <span>About our page...</span>
                <br>Η ιστοσελίδα αυτή δημιουργήθηκε στα πλαίσια του μαθήματος <br>Προγραμματισμού Διαδικτύου (2022-2023) από
                τους φοιτητές <br>Ανθή Ματθαιοπούλου (1072732) και Ίωνα Μερκούρη (1072741).</div>
                <div class="row">
                    <div class="col-lg info">
                        <span class="title">Users</span>
                         <br>Oι κανονικοί χρήστες έχουν την δυνατότητα να δουν τους συνεργαζόμενους καλλιτέχνες καθώς και να ακούσουν
                        τα τραγούδια τους στο Youtube.
                        <br>Έχουν επίσης την δυνατότητα να δημιουργήσουν την προσωπική τους playlist κάνοντας
                        like στα τραγούδια και τους καλλιτέχνες που τους αρέσουν αφού πρώτα έχουν συνδεθεί στον λογαριασμό τους.
                        <br>Τελικά, έχουν πρόσβαση στα στοιχεία επικοινωνίας της εταιρείας μας.
                        <br>Αν κάποιος χρήστης δεν έχει λογαριασμό, έχει την δυνατότητα να δημιουργήσει!
                     </div>
                     <div class="col-lg info ">
                        <span class="title">Admins</span>
                        <br>Οι διαχειριστές έχουν την δυνατότητα να επεξεργάζονται, να προσθέτουν καθώς και να διαγράφουν καλλιτέχνες και τραγούδια.
                        <br>Τέτοιου είδους χρήστες πρέπει να εισαχθούν χειροκίνητα στην βάση μας.
                     </div>
            
                 </div>
        </div>
        
    </main>
</body>

