
<body>  
    <main>
        <form method = "GET" action="/artistForm/submit" class="form-container">
            <h1>Add new Artist:</h1>
            
            <label for="artistName">Name</label>
            <input type="text" placeholder="Enter the name of the new artist" name="artistName" required>
            
            <label for="artistInfo"><br>Description</label>
            <input type="text" placeholder="Enter a small description of the artist" name="artistInfo">
            
            <label for="artistPic"><br>Image</label>
            <input type="text" placeholder="Enter the url of the artist's image" name="artistPic">

           <button type="submit">Add</button>
        </form>
    </main>
</body>


  

