
<body>
    <main>
        <div class="contact-us container">
            <div class="row">
                <div class="pic phone col-lg">
                    <img src="../img/phone-call.png" alt="Phone" title="Phone">
                    <br>Call us here!
                    <br><a href="tel:6985591020" class="address">+302109878203</a>
                </div>
                <div class="pic email col-lg">
                    <img src="../img/email.png" alt="Email" title="Email">
                    <br>Email us here!
                    <br> <a class = "address" href="mailto:anthimat11@gmail.com">contact@riorecords.org</a>
                </div>
                <div class="pic location col-lg">
                    <img src="../img/location.png" alt="Location" title="Location">
                    <br>Find us here!
                    <br><a class="address" href="https://goo.gl/maps/ay3i651qfFhgJgt57" target="_blank" rel="noopener noreferrer">
                        Gounari 100, 26224
                        <br>Patra, Greece
                    </a>
                </div>
            </div>
        </div>

    </main>
</body>