<body>
   <main class="labelpage">

        <div class="container">
            <div class="intro col align-self-center">
                Welcome to Rio Records! Founded in 
                2023 and based in Patras, we're a team of music rebels on a
                mission to discover and showcase the rawest, most authentic talent
                from around the globe. We're not interested in following trends
                or playing it safe - we're here to disrupt the music industry and 
                bring you the freshest sounds that are guaranteed to make your heart 
                race and your feet move. From punk rock to electronic beats, we've 
               got it all. So, are you ready to rock with us? Join our revolution
                and let's make some noise!
            <a href="/artists" class="intro-link"><br><br>Check out our collaborations;&rpar;</a>
                
            </div>
            <div class="row"><br><br><br></div>
            <div class="row"><br><br><br></div>
            <div class="row"><br><br><br></div>
        </div>
            
    </main> 
</body>
